.course_alignment{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* responsive */
@media screen and (max-width: 992px) {
    .course_alignment {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media screen and (max-width: 600px) {
    .about {
        width: 90%;
    }
} */